<%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>

<div class="container">
  <div class="row border border-dark rounded">
    <div class="p-3 border border-secondary rounded">
    <h1><%= @article.title %></h1>
    </div>
    <div class="mb-2">
      <%= @article.body %>
    </div>
    <div class="row ">
        <%= link_to "Edit", edit_article_path(@article) %>  
      <%= link_to "Destroy", article_path(@article), data: {
         turbo_method: :delete, 
         turbo_confirm: "Are you sure?"} %></li>
    </div>
    <div class="row "> 
    <h2>Comments</h2>
    <%= render @article.comments %> 
    </div>

    <h2> Add a comment: </h2>
    <%= render 'comments/form' %>
  </div>
</div>