<%= form_with model: @user do |form| %>
  <div class="card">
    <div class="card-body">
      <%= form.label :name %><br>
      <%= form.text_field :name %>
  
    </div>

    <div>
      <%= form.label :post %><br>
      <%= form.text_area :post %><br>
    </div>

    <div>
      <%= form.submit %>
    </div>
  </div>
<% end %>  



